
<div class="row" style="height: 50px"></div>
<h1>#<%= @room.id %> / <%= @room.title %></h1>
<p><%= Question.find(@room.question).title %></p>
<p>문제 수 : <%= @room.questionNumber %></p>
<p>제한시간 : <%= @room.limitTime %></p>
<hr>
<button id="unmuteButton" class="form-control btn btn" >소리가 나오지 않는다면 이곳을 눌러주세요(다시재생 포함)</button>
<br />
<hr>
<div class="container overflow-auto" style="height: 300px">
  <div class="alert alert-secondary" role="alert">
    [시스템 메시지] : 곧 문제가 재생됩니다.
  </div>

  <div class="alert alert-light" role="alert">
    YMGYM : 와 진짜 모르겠다
  </div>

  <div class="alert alert-light" role="alert">
    J.D. : 디지몬
  </div>

  <div class="alert alert-secondary" role="alert">
    [시스템 메시지] : "J.D."님 "디지몬 어드벤쳐 - Power Up" 정답입니다.
  </div>

  <div class="alert alert-light" role="alert">
    J.D. : ㅎㅎㅎ
  </div>

  <div class="alert alert-secondary" role="alert">
    [시스템 메시지] : 곧 문제가 재생됩니다.
  </div>
</div>
<div class="margin-s10"></div>

<form>
  <div class="form-group">
    <input type="text" class="form-control form-control-lg margin-top-10"  placeholder="이곳에 채팅을 입력하세요">
  </div>
  <button type="submit" class="form-control btn btn-dark">전송</button>
</form>

<div class="row">
  <% 4.times do %>
    <div class="col-sm-4 margin-top-10">
      <div class="card border-info overflow-auto">
        <div class="card-body">
          <h5 class="card-title">YMGYM</h5>
          <p class="card-text float-right">1 points</p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div hidden>
  <div id="player"></div>
</div>



<script>
    // 2. This code loads the IFrame Player API code asynchronously.
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // 3. This function creates an <iframe> (and YouTube player)
    //    after the API code downloads.
    var player;

    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            height: '360',
            width: '640',
            videoId: 'VNNsrjm6Nig', // 여기하고
            playerVars: {
                'start': 10, // 여기 수정
                // 무한반복용 루프 설정도구. 복잡해서 뺐음
                'loop' : 1,
                'playlist': 'VNNsrjm6Nig'
            },
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange,
            }
        });
    }

    // 4. The API will call this function when the video player is ready.
    function onPlayerReady(event) {
        event.target.mute();
        event.target.playVideo();

    }

    // 5. The API calls this function when the player's state changes.
    //    The function indicates that when playing a video (state=1),
    //    the player should play for six seconds and then stop.
    function onPlayerStateChange(event) {
        setTimeout(stopVideo, 500);
    }
    function stopVideo() {
        player.unMute();
    }

    unmuteButton.addEventListener('click', function() {
        player.playVideo();
    });
</script>