<div class="row" style="height: 50px"></div>
<h1>#<%= @room.id %> / <%= @room.title %></h1>
<p><%= Question.find(@room.question).title %></p>
<p>문제 수 : <%= @room.questionNumber %></p>
<p>제한시간 : <%= @room.limitTime %></p>

<% if @user.isMaster == true %>
  <div class="row">
    <a href="#" class="btn btn-lg btn-secondary col-sm-5">시작</a>
    <div class="col-sm-2"></div>
    <%= link_to '방 폭파하기', '/roomquit', class: "btn btn-lg btn-outline-dark col-sm-5", method: :delete %>
  </div>
<% else %>
  <div class="row">
    <%= link_to '방 나가기', '/roomquit', class: "btn btn-lg btn-outline-dark col-sm-12", method: :delete %>
  </div>
<% end %>

<div class="row" style="height: 100px"> </div>
<div class="row">
  <% @room.players.each do |player| %>
    <div class="col-sm-4 margin-top-10">
      <% if player.isMaster  %>
        <div class="card border-warning overflow-auto">
          <div class="card-body">
            <h5 class="card-title"><%= player.user.nickName %></h5>
            <p class="card-text"></p>
          </div>
        </div>
      <% else %>
        <div class="card border-info overflow-auto">
          <div class="card-body">
            <h5 class="card-title"><%= player.user.nickName %></h5>
            <p class="card-text"></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

</div>
<p id="ViewTimer"></p>
<script>

    var SetTime = 30;		// 최초 설정 시간(기본 : 초)

    function msg_time() {	// 1초씩 카운트

        m = Math.floor(SetTime % 60) + "초";	// 남은 시간 계산

        var msg = "<font color='red'>" + m + "</font> 후에 페이지가 새로고침됩니다.";

        document.all.ViewTimer.innerHTML = msg;		// div 영역에 보여줌

        SetTime--;					// 1초씩 감소

        if (SetTime < 0) {			// 시간이 종료 되었으면..
            location.reload();
        }

    }


    function TimerStart(){ tid=setInterval('msg_time()',1000) };
    document.addEventListener("DOMContentLoaded", TimerStart());

</script>