<div class="row" style="height: 50px"></div>
<h1>#<%= @room.id %> / <%= @room.title %></h1>
<p><%= @room.question.title %></p>
<hr>
<h5><%= @room.question.description %></h5>
<hr>
<p>문제 수 : <%= @room.questionNumber %></p>
<p>제한시간 : <%= @room.limitTime %></p>

<% if @user.isMaster == true %>
  <div class="row">
    <%= link_to '게임 시작', startGame_path, class: "btn btn-lg btn-outline-dark col-sm-5", method: :post %>
    <div class="col-sm-2"></div>
    <%= link_to '방 나가기', '/roomquit', class: "btn btn-lg btn-secondary col-sm-5", method: :delete %>
  </div>
<% else %>
  <div class="row">
    <%= link_to '방 나가기', '/roomquit', class: "btn btn-lg btn-outline-dark col-sm-12", method: :delete %>
  </div>
<% end %>

<div class="row" style="height: 100px"> </div>
<div class="row">
  <% @room.players.each do |player| %>
    <div class="col-sm-4 margin-top-10">
      <% if player.isMaster  %>
        <div class="card border-warning overflow-auto">
          <div class="card-body">
            <h5 class="card-title"><%= player.user.nickName %></h5>
            <p class="card-text"></p>
          </div>
        </div>
      <% else %>
        <div class="card border-info overflow-auto">
          <div class="card-body">
            <h5 class="card-title"><%= player.user.nickName %></h5>
            <p class="card-text"></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

</div>

<script>
    var SetTime = 20;		// 최초 설정 시간(기본 : 초)

    function msg_time() {
        SetTime--;

        if (SetTime < 0) {
            location.reload();
        }

    }

    function TimerStart(){tid=setInterval('msg_time()',1000) }
    document.addEventListener("DOMContentLoaded", TimerStart());
</script>
