<div class="row" style="height: 50px"></div>
<h1>#<%= @room.id %> / <%= @room.title %></h1>
<p><%= @room.question.title %></p>
<hr>
<h5><%= @room.question.description %></h5>
<hr>
<p>문제 수 : <%= @room.questionNumber %></p>
<p>제한시간 : <%= @room.limitTime %></p>

<% if @user.isMaster == true %>
  <div class="row">
    <%= link_to '게임 시작', startGame_path, class: "btn btn-lg btn-secondary col-sm-4", method: :post, "data-turbolinks": false, "onClick": "start()" %>
    <div class="col-sm-1"></div>
    <%= link_to '방 정보 수정', edit_room_path, class: "btn btn-lg btn-outline-dark col-sm-3", method: :get %>
    <div class="col-sm-1"></div>
    <%= link_to '방 나가기', rooms_path, class: "btn btn-lg btn-outline-dark col-sm-3", method: :get %>
  </div>
<% else %>
  <div class="row">
    <%= link_to '방 나가기', rooms_path, class: "btn btn-lg btn-outline-dark col-sm-12", method: :get %>
  </div>
<% end %>

<hr>
<div id="box" class="container overflow-auto" style="height: 300px">
  <div id="messages" class="alert alert-secondary" role="alert" style="text-decoration: underline; overflow: auto;">

  </div>
</div>
<div class="margin-s10"></div>

<form onsubmit="return false">
  <div class="form-group">
    <input type="text" id="text" class="form-control form-control-lg margin-top-10"  placeholder="이곳에 채팅을 입력하세요"
    onkeydown = "if (event.keyCode == 13)
                        document.getElementById('sendButton').click()" >

  </div>
  <input type="button" id="sendButton" value="send" onclick="send()" class="form-control btn btn-dark">
</form>

<div class="row" style="height: 50px"> </div>
<div class="row">
  <% @room.players.each do |player| %>
    <div class="col-sm-4 margin-top-10">
      <% if player.isMaster  %>
        <div class="card border-warning overflow-auto">
          <div class="card-body">
            <h5 class="card-title"><%= player.user.nickName %></h5>
            <p class="card-text"></p>
          </div>
        </div>
      <% else %>
        <div class="card border-info overflow-auto">
          <div class="card-body">
            <h5 class="card-title"><%= player.user.nickName %></h5>
            <p class="card-text"></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

</div>

<p id="ViewTimer"></p>

<script>
    // var socket = io.connect("http://3.88.111.248:4000");
    var socket = io.connect("http://localhost:4000");
    var SetTime = 60;		// 최초 설정 시간(기본 : 초)
    var roomId = `waiting${<%= @room.id %>}`;
    var nick = "<%=current_user.nickName%>";
    var currentId = "<%=current_user.id%>";
    var playingFlag = "<%= @room.nowPlaying %>";

    function send() {
      var value = document.getElementById("text").value;
      socket.emit("sendUserWaiting", {
        value: value,
        nick: nick,
        roomId: roomId
      });
      document.getElementById('text').value = null;
      //이벤트 발생하면 인풋태그 비우기
      var move = document.getElementById('box');
      if(move.scrollHeight > 0) {
        move.scrollTop = move.scrollHeight;
      }//자동스크롤
    }

    socket.emit('joinRoom', {roomId: roomId, nick: nick});

    socket.on('joinRoom', (data) => {
      var messages = document.getElementById("messages");
      var text = document.createTextNode(data);
      messages.appendChild(text);
      messages.appendChild(document.createElement("br"));
    });

    socket.on('chat', (data) => {
      var messages = document.getElementById("messages");
      var text = document.createTextNode(`${data.nick} : ${data.value}`);
      messages.appendChild(text);
      messages.appendChild(document.createElement("br"));
    });

    function start(){
      socket.emit('playing', {
        roomId: roomId
      });
    }

    socket.on('playing', (data) => {
      console.log("Here!");
      setTimeout(Turbolinks.visit(window.location), 1000);
    });

    // function msg_time() {	// 1초씩 카운트
    //
    //     m = Math.floor(SetTime % 60) + "초";	// 남은 시간 계산
    //
    //     var msg = "<font color='red'>" + m + "</font> 후에 페이지가 새로고침됩니다.";
    //
    //     document.all.ViewTimer.innerHTML = msg;		// div 영역에 보여줌
    //
    //     SetTime--;					// 1초씩 감소
    //
    //     if (SetTime < 0) {			// 시간이 종료 되었으면..
    //         location.reload();
    //     }
    //
    // }
    //
    // function TimerStart(){tid=setInterval('msg_time()',1000) }
    // document.addEventListener("turbolinks:load", TimerStart());
</script>
