<div class="container">
  <div class="row" style="height: 50px"></div>
  <h1><%= t('rooms.help.text_help') %></h1>
  <p><%= t('rooms.help.text1') %></p>

  <hr>
  <h3><%= t('rooms.help.text2') %></h3>
  <p><a href="https://github.com/YMGYM">YMGYM(요미)</a>, <a href="https://github.com/idea7654">Idea</a></p>
  <br />
  <h4><%= t('rooms.help.text3') %></h4>
  <p><%= t('rooms.help.text4') %></p>
  <p><a href="https://github.com/YMGYM">YMGYM(요미)</a>, <a href="https://github.com/idea7654">Idea</a>, Han</p>
  <br />


  <h3><%= t('rooms.help.text5') %></h3>
  <p><%= t('rooms.help.text6') %></p>
  <p><%= t('rooms.help.text7') %></p>

  <br />
  <h3><%= t('rooms.help.text8') %></h3>
  <p><%= t('rooms.help.text9') %></p>
  <p><%= t('rooms.help.text10') %></p>
  <p><%= t('rooms.help.text11') %></p>


  <br />
  <h3><%= t('rooms.help.text12') %></h3>
  <p><%= t('rooms.help.text13') %></p>
  <p><%= t('rooms.help.text14') %></p>
  <p><%= t('rooms.help.text15') %></p>

  <br />
  <h3><%= t('rooms.help.text16') %></h3>
  <p><%= t('rooms.help.text17') %>.</p>
  <p><%= t('rooms.help.text18') %></p>
  <p><%= t('rooms.help.text19') %></p>
  <p><%= t('rooms.help.text20') %></p>
  <p><%= t('rooms.help.text21') %></p>

  <br />
  <h3><%= t('rooms.help.text22') %></h3>
  <p><%= t('rooms.help.text23') %></p>
  <p><%= t('rooms.help.text24') %></p>
  <p><%= t('rooms.help.text25') %></p>
  <p><%= t('rooms.help.text26') %></p>

  <br />
  <h3><%= t('rooms.help.text27') %></h3>
  <p><%= t('rooms.help.text28') %></p>
  <p><%= t('rooms.help.text29') %></p>
  <p><%= t('rooms.help.text30') %></p>
  <p><%= t('rooms.help.text31') %></p>
  <p><%= t('rooms.help.text32') %></p>
</div>