<div class="container">
  <div class="row" style="height: 50px"></div>
  <h1>삐빅! 비밀방</h1>
  <p>비밀번호를 작성해 주세요</p>
  <div class="row" style="height: 50px"></div>

  <% if flash.present? %>
    <div class="alert alert-dark" role="alert">
      <%= flash[:alert]%>
    </div>
  <% end %>

  <%= form_tag "/passcheck/#{@room.id.to_s}" do %>
    <%= label_tag :roomPassword, '비밀번호' %>
    <%= password_field_tag :roomPassword, nil, class:"form-control" %>

    <%= submit_tag '제출', class: "btn btn-secondary float-right margin-10" %>
  <% end %>

</div>