<div class="container">
  <div class="row" style="height: 50px"></div>
  <h1><%= t('rooms.secret.text1') %></h1>
  <p><%= t('rooms.secret.text1') %></p>
  <div class="row" style="height: 50px"></div>

  <% if flash.present? %>
    <div class="alert alert-dark" role="alert">
      <%= flash[:alert]%>
    </div>
  <% end %>

  <%= form_tag "/passcheck/#{@room.id.to_s}" do %>
    <%= label_tag :roomPassword, t('rooms.secret.text3') %>
    <%= password_field_tag :roomPassword, nil, class:"form-control" %>

    <%= submit_tag t('rooms.secret.text4'), class: "btn btn-secondary float-right margin-10" %>
  <% end %>

</div>