<!DOCTYPE html>
<html>
  <head>
    <title>요미퀴즈</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="<%= rooms_path %>">요미퀴즈</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" href="<%= root_path %>">Home<span class="sr-only">(current)</span></a>
          <a class="nav-link" href="<% if current_user.room %> <%= room_path(current_user.room.id) %><% else %><%= rooms_path %> <%end %>">게임하기</a>
          <% if current_user %>
<!--            <a class="nav-link" href="<%#= destroy_user_sdession %>">로그아웃</a>-->
                <%= link_to '로그아웃', destroy_user_session_path,  method: :delete, class: "nav-link" %>
          <% else %>
              <%= link_to '로그인', new_user_session_path,class: "nav-link" %>
          <% end %>
          <a class="nav-link" href="<%= help_path %>">도움말</a>
        </div>
      </div>
    </nav>
    <% if flash.present? %>
      <div class="alert alert-dark" role="alert">
        <%= flash[:alert]%>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
